*,
html {
    padding: 0;
    margin: 0;
}

.header-container {
    height: 10vh;
    background-color: cadetblue;
    border-radius: 15px;
}

h1 {
    font-size: larger;
    padding: 20px;
    font-family: 'Poppins', sans-serif;
    justify-content: left;
    color: #fff;
}

span {
    color: gold;
}

.sidebar-container {
    position: absolute;
    margin-top: 10px;
    height: auto;
    width: 17%;
    background-color:orange;
    border-radius: 15px;
}

.li-sidebar {
    list-style-type: none;
    padding-left: 25px;
    padding-top: 15px;
    padding-bottom: 15px;
}

.li-sidebar:hover {
    background-color: #555;
}

.a-sidebar {
    text-decoration: none;
    color: #fff;
    font-family: 'Poppins', sans-serif;
}

.a-sidebar:hover {
    text-decoration: none;
    color: orange;
}

.content-container {
    margin-left: 17%;
    height: 100vh;
    color: #fff;
    padding: 10px;
}

.white-box {
    background: gold;
    padding: 25px;
    margin-bottom: 15px;
    width: fit-content;
    display: inline-table;
    border-radius: 15px;
}

.white-box .box-title {
    margin: 0px 0px 12px;
    font-weight: 525;
    text-transform: uppercase;
    font-size: 18px;
    color: black;
}

.ul-white-box li{
    list-style-type: none;
    font-size: 50px;
    font-weight: 100;
    font-family: 'Poppins', sans-serif;
}